*.o
*.bak
*.crf
*._2i
*.d
*.bak
!/L1-20161121-newID/Projects/MDK-ARM/

/L1-20161121-newID/Projects/MDK-ARM/*
!/L1-20161121-newID/Projects/MDK-ARM/*.s
# !/L1-20161121-newID/Projects/MDK-ARM/*.uvoptx
!/L1-20161121-newID/Projects/MDK-ARM/*.uvprojx
*.TMP
